.idea/
/.vscode/
node_modules/
dist/
build/
.cache/
.parcel-cache/
.vite/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tgz
*.log
*.local
.env
.env.*.local
Thumbs.db
.DS_Store
*.sqlite
*.db
*.tsbuildinfo
/.sass-cache
/.cache-loader
/.nyc_output
/.pnp
/.pnp.js
/.cache